{%extends 'userhome.html'%}
{%block user%}
    <div class="container">
        <div class="row">
        {%for i in data%}
          <div class="col-md-6">
            {%if i.productpic%}
            <img src="{{i.productpic.url}}" alt="product image">
            {%endif%}
          </div>
          <div class="col-md-6">
            <h2>{{i.productname}}</h2>
            <p>{{i.description}}</p>
            <h3>Price: {{i.price}}</h3>
            <div class="form-group">
              <label for="quantity">Quantity: </label>
              <input type="number" class="form-control" id="quantity">
            </div>
            <button type="button" class="btn btn-primary add-to-cart-btn">Buy Now</button>
          </div>
        {%endfor%}
        </div>
      </div>
{%endblock user%}