{% extends 'index.html' %}
{%block index%}
  <h3 class="bg-info">VIEW PRODUCTS</h3>
  <div class="card-columns">
  {%for i in data%}
    <div class="card" style="width:400px">
      {%if i.productpic%}
      <img class="card-img-top" src="{{i.productpic.url}}" alt="Card image">
      {%endif%}
      <div class="card-body">
        <h4 class="card-title">{{i.productname}}</h4>
        <p class="card-text">Model:{{i.model}}</p>
        <p class="card-text">Description:{{i.description}}</p>
        <p class="card-text">Color:{{i.color}}</p>
        <p class="card-text">Quantity:{{i.quantity}}</p>
        <p class="card-text">Price:{{i.price}}</p>
        <a href="{%url 'dltpro' i.id%}" class="btn btn-primary">Delete</a>
        <a href="{%url 'editpro' i.id%}" class="btn btn-primary">Update</a>
      </div>
    </div>
  {%endfor%}
{%endblock index%}